body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;;
    background: #2b2b2b;

}

body::after {
    content: "";
    background: url(../img/aroma-aromatic-beans-531754.jpg) no-repeat;
    background-size: 120%;
    background-position-x: 100%;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

ul{
    display: inline;
    margin: 0;
    padding: 0;
}

/* Global container */
.container{
    width: 80%;
    margin: auto; /*Sets the content to be in the middle, like float, but not  like text-align. */
    overflow: hidden;
}

/* Header */
header{
    height: 70px;
    background: #2b2b2b;
    color: #ffffff;
    padding-top: 0;
    min-height: 70px;
    border-bottom: #fff53f 2px solid;
    padding-bottom: 10px;
}
header nav{
    margin:auto;
    width: 800px;;
    text-align: center;
    margin-top: 10px;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li a:hover{
    color: grey;
} 

header li:nth-child(1){
    float: left;
    display:  inline;
    padding:20px 20px 20px 20px;
}
header li:nth-child(2){
    float: left;
    display:  inline;
    padding:20px 20px 20px 20px;
}
header li:nth-child(3){
    float: left;
    display:  inline;
    padding:20px 20px 20px 20px;
}
header li:nth-child(4){
    float: right;
    display:  inline;
    padding:20px 20px 20px 20px;
}
header li:nth-child(5){
    float: right;
    display:  inline;
    padding:20px 20px 20px 20px;
}
header li:nth-child(6){
    float: right;
    display:  inline;
    padding:20px 20px 20px 20px;
}

header img{
    display: inline-block;
    overflow: visible;
    transform: translateY(-15%);
    margin: 0;
    position:no-repeat;
    height: 150px;
}

/* Sections */
#showcase{
    margin: 0;
    color: #ffffff;
    text-align: center;
}

#showcase h2{
    margin: 50px 0 0 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:  #FFFFFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-variant: small-caps;
    font-size: 62px;
}

#showcase h1{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#showcase p{
    margin: 0;
    font-size: 24px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 0 40px 0 40px;
}

#info{
    font-size: 16px;
    color: #2b2b2b;
    background-color: #f2f1ea;
    background-size: 70%;
    padding-top:30px 60px 30px 60px;
    align-content: center;
    border-top: #fff53f solid 2px;
}

#info .container{
    width: 40%;
    text-align: center;
}

#poster{
    margin: auto;
    width: auto;
    background-color: #2b2b2b;
    /* background-color: rgba(229, 229, 229,0.8); */
    margin-top: 20px;
    border-top: #fff53f solid 2px;
}

#poster .box{
    float:left;
    width: 30%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#poster .box img{
    height: 90%;
    width: 90%;
}


/* Global Footer */
footer{
    border-top: #fff53f solid 2px;
    padding-top: 20px;
    color: #FFFFFF;
    background-color: #2b2b2b;
    text-align: center;
}