body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-break: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    background: url(../img/aroma-aromatic-beans-531754.jpg) no-repeat;
    background-size: 120%;
    background-position-x: 40%;
}

ul{
    display: inline;
    margin: 0;
    padding: 0;
}

/* Global container */
.container{
    width: 80%;
    margin: auto; /*Sets the content to be in the middle, like float, but not  like text-align. */
    overflow: hidden;
}

/* Header */
header{
    height: 70px;;
    background: #2b2b2b;
    color: #ffffff;
    padding-top: 0;
    min-height: 70px;
    border-bottom: #fff53f 2px solid;
    padding-bottom: 10px;
}
header nav{
    margin:auto;
    width: 800px;;
    text-align: center;
    margin-top: 10px;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header li:nth-child(1){
    float: left;
    display:  inline;
    padding:20px 20px 20px 20px;
}
header li:nth-child(2){
    float: left;
    display:  inline;
    padding:20px 20px 20px 20px;
}
header li:nth-child(3){
    float: left;
    display:  inline;
    padding:20px 20px 20px 20px;
}
header li:nth-child(4){
    float: right;
    display:  inline;
    padding:20px 20px 20px 20px;
}
header li:nth-child(5){
    float: right;
    display:  inline;
    padding:20px 20px 20px 20px;
}
header li:nth-child(6){
    float: right;
    display:  inline;
    padding:20px 20px 20px 20px;
}

header img{
    display: inline-block;
    overflow: visible;
    transform: translateY(-20%);
    margin: 0;
    position:no-repeat;
    height: 150px;
}


/* Sections */
#showcase{
    color: #ffffff;
    background-size: 70%;
    padding-top:30px;
    text-align: center;
}
#info{
    font-size: 16px;
    color: #ffffff;
    background-size: 70%;
    padding-top:30px;
    text-align: center;
}

#info h3{
    font-size: 26px;
    font-weight: bold;
}

#info p{
    font-size: 16px;
}

#poster{
    margin: auto;
    width: 80%;
    background-color: #e0e0e0;
    margin-top: 20px;
}

#poster .box{
    float:left;
    width: 30%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#poster .box img{
    height: 80%;
    width: 80%;
}